@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-size: medium;
    background-color: #1a1917;
    height: 4rem;
}
.container-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.options-header, p{
    padding: 0.9rem;
    color: #9ea094;
}